*{
    padding: 0;
    margin: 0;
    font-family: sans-serif
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
header {
    list-style-type: none;
    z-index: 1;
    background-color: #372222;
    opacity: 0,5px;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
}
header h1 { 
    float: left;
    padding: 15px 0;
    color:  #14AB9D;
}
header ul { 
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color:  #14AB9D;
    color: #ffffff;
}
.active {
    background-color:  #14AB9D;
    color: #ffffff;
}
.banner {
    height: 73vh;
    background-image: url('../img/gambar2.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner h2 {
    color: #ffffff;
    padding: 20px 25px;
    border: 3px solid #ffffff;
}
section {
    padding: 100px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: #14AB9D;
    margin-bottom: 25px;
}
.about {
    padding: 100px;
    background-color: #f9f9f9;
}
.about p{
    color: #666666;
    word-spacing: 2px;
    line-height: 25px;
    padding-bottom: 100px;
    text-align: center;
}
.services {
    background-color: #f9f9f9;
}
.services .box {
    color:  #14AB9D;
}
.services .box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.services .box .col-4 h4 {
    margin: 20px 0;
}
.services .box::after {
    content: '';
    display: block;
    clear: both;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
footer {
    padding: 30px 0;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}
.main {
    width: 800px;
    height: 400px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}
.img {
    background-image: url('../img/logo.png');
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
    padding-bottom: 10px;
}
.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}
.p {
    margin: auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
    text-align: center;
}
.bg-loader {
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-top-color:  #14AB9D;
    border-right-color: #14AB9D;
    border-bottom-color: #14AB9D;
    animation: puterin .8s linear infinite;
}
.label {
    background-color: #14AB9D;
    color: #ffffff;
}
.login {
    background-color: #14AB9D;
    padding:  0em 1em;
    border-radius: 111px;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 10px;
}
header ul li a h4 {
    color: #f5e5e5;
}
@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 90%;
    }
    header h1{
        text-align: center;
        float: none;
    }    
    header ul{
        text-align: center;
        float: none;
    }
    .services .box .col-4{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .main{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}

/* feedback */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .feed {
    width: 800px;
    height: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    padding-top: 20px;
  }